:local(.container) {
	position: relative ;
	width  :100%;
	padding-top : 20px ; 
	overflow: hidden;
}

:local(.close) {
	max-height : 15%;
}

:local(.open) {
	height : auto;
}


:local(.cloud) {
	padding : 0px ; 
	height : 100%;
	width  :100%;
	margin : 0 ;
	margin-top : 15px ;
	list-style : none; 
	display : flex ;
	flex-wrap : wrap ; 
	justify-content : center ;
	align-content : center ;
	flex-direction : row; 
}

:local(.item){
	align-self : flex-start ;
	margin : 5px ;
	border-radius : 12px ; 
}


:local(.item_content) {
	padding : 5px ;
	min-width : auto; 
}

:local(.separator) {
	width : 100%;
	position: absolute ;
	z-index: 9; 
  bottom: 0 ; 
	border : solid  3px;
}








