:local(.container) {
	transition: margin 1s ease-in-out ; 
	border-right : 5px solid #DDD;
	display : flex ; 
	height:100% ;
	flex-direction  : row ;
	flex-wrap: wrap ; 
	margin : 0 ;
	list-style: none;
	align-content: stretch;
	justify-content: flex-start;
	margin-left : 0% ;
	width : 20%;
	position : relative ; 
	
}

:local(.container):after {
	transition  :  width 2s ;
	-webkit-transition:  width 2s; /* Safari */
	height : 40px ; 
	width : 0 ;
	
	bottom : 60px; 
	position : absolute ; 
}

	
	
:local(.close) {
	margin-left : -20% ;
}

:local(.close):after {
	width : 40px ;
	line-height: 35px ;
	text-align : center ; 

	content : '<<' ; 
	border: 5px solid #DDD;
	border-left: 5px solid #DDD;
	border-radius : 0 20px 20px 0 ;  
	
	position : absolute ; 
	bottom : 60px; 
	right : -50px;
}


@media (max-width : 1200px) {
		:local(.container) {
			width : 25%;
		}
		:local(.close) {
			margin-left : -25% ; 
		}
}

@media (max-width : 700px) {
		:local(.container) {
			width : 75%;
		}
		:local(.close) {
			margin-left : -75% ; 
		}
}


