:local(.container) {
flex-direction: row ; 
align-content  : flex-start ; 
display : flex ; 
width : 100%;
height : 30% ; 
flex-wrap : wrap ; 
}


:local(.icon_modal) {
 text-align : center; 
	margin : 10px 0px ; 
	width: 100%;
	height : 30px ;

}

:local(.icon_modal) > a {
	padding  :5px ;
	border-radius : 12px ; 
	border : solid 3px red ; 
}
